.horizontalPager {
    height: 200px;
    border: 5px;
    border-color: black;
    background-color:rgb(204, 56, 56);
    width: 75%;
    
}

.pager {
    position: relative;
    height: 200px;
    border: 5px;
    border-color: black;
    background-color:rgb(56, 55, 168);
    width: calc(100%);
}

.button {
    float: left;
    top: 150px;
    background-color: rgb(27, 156, 44);
}
.rightButton {
    float: right;
    top: 150px;
    background-color: rgb(27, 156, 44);
}
.container {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: white;
  }
  
  .box1 {
    position: absolute;
    left: 25px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    width: 200px;
    height: 100px;
    background-color: #3498db;
    z-index: 1;
  }
  
  .box2 {
    position: absolute;
    top: 75px;
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    z-index: 2;
  }
  